extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				ul.local
					li
						a(href='/home/?clang=ru', class='') ru
					li
						a(href='/home/?clang=en', class='') en
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
			-var username = JSON.stringify(translation.username).replace(/\"/g, "");
			-var password = JSON.stringify(translation.password).replace(/\"/g, "");
			-var email = JSON.stringify(translation.email).replace(/\"/g, "");
			-var first_name = JSON.stringify(translation.first_name).replace(/\"/g, "");
			-var last_name = JSON.stringify(translation.last_name).replace(/\"/g, "");
			-var product_name = JSON.stringify(translation.product_name).replace(/\"/g, "");
			-var calculate_button = JSON.stringify(translation.calculate_button).replace(/\"/g, "");
			-var delete_button = JSON.stringify(translation.delete_button).replace(/\"/g, "");
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				#user
					h1.text-center.login-title
						a(href='/signout', class='text-center new-account') !{JSON.stringify(translation.exit).replace(/\"/g, "")}
						div.signup-wall
							//p Данные профиля:
							ul.user-details
								li #{username}: #{user.username}
								li #{email}: #{user.email}
								li #{first_name}: #{user.firstName} 
								li #{last_name}: #{user.lastName}
	div.container
		div.row
			div.col-md-12
				h1.text-center.login-title #{user.firstName}!{JSON.stringify(translation.home_start).replace(/\"/g, "")}
				form(autocomplete='on', class='form-style-9', action='http://localhost:3000/home', method='POST')
					ul
						li
							input(type='text', name='product',id='tags', class='field-style', placeholder='' + product_name + '',value='')
						li
							p Вес, грамм
							input(type='number', name='weight', class='field-style', value='100', min='1', max='1000')
						li
							input(type='submit', name='calculate', value='' + calculate_button + '')
	div.container
		div.row
			div.col-md-12
				h1.text-center #{noProduct}
	div.container
		div.row
			div.col-md-12
			script var tags = !{JSON.stringify(showmass)}
	div.container
		div.row
			div.col-md-12
			script var userTable = !{JSON.stringify(userTable)}
			//- console.log('массив в выдаче такой', userTable)
			if userTable.length
				div.center
					table.table_blur
						thead
							tr
								th Название продукта
								th Вес, г
								th Белки, г
								th Жиры, г
								th Углеводы, г
								th Кал, ккал
						tbody
							each chunk in userTable
								tr
									each val in chunk
										td= val
				form(autocomplete='on', class='form-style-9', action='http://localhost:3000/home', method='POST')
					input(type='submit', name='dell', value='' + delete_button + '')
							
				