extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				ul.local
					li
						a(href='/?clang=ru', class='') ru
					li
						a(href='/?clang=en', class='') en
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
			-var username = JSON.stringify(translation.username).replace(/\"/g, "");
			-var password = JSON.stringify(translation.password).replace(/\"/g, "");
			-console.log('ПОКАЖИ PLACEHOLDER', name);
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				h1.text-center.login-title !{JSON.stringify(translation.index_start).replace(/\"/g, "")}
					div.account-wall
						img(class='profile-img', src='https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120')
						form(class='form-signin', action='/login', method='POST')
							input(type='text', name='username' class='form-control', placeholder='' + username + '',required, autofocus)
							input(type='password', name='password' class='form-control', placeholder='' + password + '', required)
							button(class='btn btn-lg btn-primary btn-block', type='submit') !{JSON.stringify(translation.sign_in_button).replace(/\"/g, "")}
							span.clearfix
					a(href='/signup', class='text-center new-account') !{JSON.stringify(translation.create_an_account_button).replace(/\"/g, "")}
					#message
					if message
						h1.text-center.error-message #{message}