extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				ul.local
					li
						a(href='/signup/?clang=ru', class='') ru
					li
						a(href='/signup/?clang=en', class='') en
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
			-var username = JSON.stringify(translation.username).replace(/\"/g, "");
			-var password = JSON.stringify(translation.password).replace(/\"/g, "");
			-var email = JSON.stringify(translation.email).replace(/\"/g, "");
			-var first_name = JSON.stringify(translation.first_name).replace(/\"/g, "");
			-var last_name = JSON.stringify(translation.last_name).replace(/\"/g, "");
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				h1.text-center.login-title !{JSON.stringify(translation.register_start).replace(/\"/g, "")}
					div.signup-wall
						form(class='form-signin', action='/signup', method='POST')
							input(type='text', name='username', class='form-control', placeholder='' + username + '',required, autofocus)
							input(type='password', name='password', class='form-control nomargin', placeholder='' + password + '', required)
							input(type='email', name='email', class='form-control', placeholder='' + email + '',required)
							input(type='text', name='firstName', class='form-control', placeholder='' + first_name + '',required)
							input(type='text', name='lastName', class='form-control', placeholder='' + last_name + '',required)
							button(class='btn btn-lg btn-primary btn-block', type='submit') !{JSON.stringify(translation.register_button).replace(/\"/g, "")}
							span.clearfix
					#message
						if message
							h1.text-center.error-message #{message}